.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* For Firefox */
  .scrollbar-hide {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  /* For Edge */
  .scrollbar-hide {
    -ms-overflow-style: none;
  }